<section class="min-h-90vh grid content-center bg-3" id="searchPokemon">
    <div class="h-full grid content-center">
        <div class="flex justify-center items-center w-full">
            <div class="w-11/12">
                <div class="flex flex-col w-auto lg:flex-row justify-center items-center">
                    <div class="flex-cell border-2 border-gray-400 rounded-sm shadow-md">
                        <div class="h-full grid content-center bg-pokemon" style="min-height: inherit;">
                            <div class="flex flex-col items-center justify-center">
                                <form (ngSubmit)="getPokemon()" [formGroup]="pokemonSearchFrom" class="text-center border rounded p-5 bg-white shadow-md">
                                    <div class="form-group">
                                        <label for="searchPokemon"><span class="display-4 block">Search for a pokemon:</span></label>
                                        <input type="text" class="mt-2" id="searchPokemon" formControlName="pokemonName" placeholder="Pokemon Name">
                                    </div>
                                    <p><span id="searchPokemonError" class="text-danger"
                                        *ngIf="pokemonSearchFrom.controls.pokemonName.invalid &&
                                        pokemonSearchFrom.controls.pokemonName.dirty">The Pokemon Name should have atleast 3 letters.</span></p>
                                    <button type="submit" [disabled]="pokemonSearchFrom.invalid" class="mt-2 btn">Get Pokemon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="flex-cell flex items-center justify-center">
                        <div class="w-2/3" *ngIf='pokemon'>
                            <app-pokemon-card [pokemon]=pokemon></app-pokemon-card>
                        </div>
                        <div class="w-2/3 text-center text-2xl text-red-500 bg-gray-100 py-1 md:py-3 rounded-sm shadow-md border" *ngIf='errorMessage'>
                            <p>{{this.getError()}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>