.w-80p{
    width: 80%;
}

.btn{
    @apply md:absolute flex justify-center text-4xl items-center border-2 border-gray-600 shadow-md p-2 md:rounded-full h-12 w-20 md:w-12 bg-blue-400 text-white;
    margin-left: auto;
    margin-right: auto;
}

.btn-wrapper{
    @apply flex;
}

.btn-left{
    padding-right: 15px;
    left: 1%;
    top: 50%;
}

.btn-right{
    padding-left: 15px;
    right: 1%;
    top: 50%;
}

.btn:disabled{
    @apply bg-blue-200;
    cursor: not-allowed;
}

.bg-2{
    background: url("../../assets/bg2.jpg") rgba(238, 230, 112, 0.507);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-blend-mode: overlay;
}